* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
body {
  background-color: #eee;
}

.heading {
  color: #444;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 5px 5%;
}

.container .main-video {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.container .main-video video {
  width: 100%;
  border-radius: 5px;
}
.container .main-video video .title {
  color: #333;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container .video-list {
  background: #fff;
  border-radius: 5px;
  height: 520px;
  overflow-y: scroll;
}
.container .video-list::-webkit-scrollbar {
  width: 7px;
}
.container .video-list::-webkit-scrollbar-track {
  background-color: #ccc;
  border-radius: 50px;
}
.container .video-list::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 50px;
}
.container .video-list .vid video {
  width: 65%;
  border-radius: 5px;
}

.container .video-list .vid {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #f7f7f7;
  gap: 15px;
  align-items: center;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.container .video-list .vid:hover {
  background: #eee;
}
.container .video-list .vid.active {
  background: #2980b9;
}
.container .video-list .vid.active .title {
  color: #fff;
}
.container .video-list .vid .title {
  color: #333;
  font-size: 17px;
}

@media (max-width: 991px) {
  .container {
    padding: 10px;
    grid-template-columns: 1.5fr 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
    grid-template-columns: 1fr;
  }
}
