* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
body {
  background-color: #eee;
}

.heading {
  color: #444;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}
